* {
  box-sizing: border-box;
}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

header {
  align-items: center;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  font-size: 1.25em;
  height: 64px;
  left: 0;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

main {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 64px;
}

.book {
  background-color: #c5cae9;
  border-radius: 4px;
  color: #000;
  height: 180px;
  margin: 16px;
  padding: 8px;
  text-decoration: none;
  width: 120px;
}

.book > .title {
  font-weight: bold;
  margin-bottom: 8px;
  max-height: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book > .author {
  max-height: 72px;
  overflow: hidden;
}
