* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

header {
  align-items: center;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  font-size: 1.25em;
  justify-content: space-between;
  height: 64px;
  left: 0;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

#container {
  -webkit-tap-highlight-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  margin: 16px;
  position: absolute;
  right: 0;
  top: 64px;
}

#text {
  bottom: 0;
  column-count: 2;
  column-gap: 40px;
  left: 0;
  line-height: 1.2;
  position: absolute;
  right: 0;
  text-align: justify;
  top: 0;
  transition: transform 0.5s cubic-bezier(0, 0, 0.21, 1);
  will-change: transform;
}

@media screen and (max-device-width: 640px) {
  #text {
    column-count: 1;
  }
}

#font {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("ic_font_download_black_48px.svg") no-repeat;
  background-color: white;
  background-size: 32px 32px;
  border: none;
  height: 32px;
  overflow: hidden;
  padding-right: 32px;
  width: 32px;
  color: white;
}
