@import 'helpers';

* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  align-items: center;
  height: @headerHeight;
  padding: 16px;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

main {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: @headerHeight;
}

@height: 180px;

.book {
  background-color: #c5cae9;
  border-radius: 4px;
  color: #000;
  height: @height;
  margin: 16px;
  padding: 8px;
  text-decoration: none;
  width: 120px;
}

.book > .title {
  max-height: @height * 0.60;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  font-weight: bold;
}

.book > .author {
  max-height: @height * 0.40;
  overflow: hidden;
}
