body {
  font-family: "RobotoDraft";
  font-weight: 300;
  background-color: #e0e0e0;
  font-size: 16px;
}

body /deep/ core-toolbar {
  background-color: #1a9ce2;
  color: #ffffff;
}

paper-ripple {
  z-index: 1;
}
