#page-title {
  font-size: 1.2em;
}

paper-dialog {
  width: 90%;
}

paper-radio-button {
  display: block;
}

.book {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  height: 320px;
  margin: 8px;
  min-width: 140px;
  position: relative;
  width: 200px;
}

.cover {
  background-color: #323232;
  height: 240px;
  width: 100%;
}

.book-bottom {
  margin-left: 8px;
  margin-right: 8px;
}

.text {
  width: 160px;
}

.title {
  color: #212121;
  max-height: 40px;
  overflow-y: hidden;
}

.author {
  color: #4d4d4d;
  font-size: 0.8em;
  height: 1em;
  margin-top: 4px;
  overflow-y: hidden;
}
