#page-title {
  font-size: 1.2em;
}

.book {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  height: 300px;
  margin: 0.5em;
  width: 200px;
}

.cover {
  background-color: #323232;
  height: 75%;
  width: 100%;

}

.book-bottom {
  margin: 0.5em;
}

.text {
  width: 180px;
}

.title {
  color: #212121;
}

.author {
  color: #4d4d4d;
  font-size: 0.8em;
}
