core-toolbar {
  color: #212121;
  background-color: inherit;
}

#topBar {
  height: 64px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#bottomBar {
  bottom: 0;
  height: 64px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

#chapters-menu {
  z-index: 2;
}

#chapters-menu paper-item {
  margin-right: 0.5em;
}

#page-slider {
  /* TODO: Find a way to get this to properly layout without having to assign a dummy width. */
  width: 100000px;
}

paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #1a9ce2;
}

paper-slider::shadow #sliderKnobInner {
  background-color: #1a9ce2;
}

paper-slider::shadow #sliderKnobInner::before {
  background-color: #1a9ce2;
}

paper-slider::shadow #sliderKnobInner::after {
  color: #1a9ce2;
}

a.icon-button {
  color: #212121;
  text-decoration: none;
}

pageable-text {
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 300;
  padding: 40px;
}

pageable-text.narrow {
  padding: 8px;
}

pageable-text.Light {
  background-color: #ffffff;
  color: #000000;
}

pageable-text.Dark {
  background-color: #000000;
  color: #ffffff;
}

pageable-text /deep/ .chapter {
  font-size: 2em;
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
  -webkit-column-break-before: always;
  break-before: column;
}

#page-display {
  width: 4em;
}

paper-dialog label {
  font-weight: 600;
  margin-right: 1em;
}

#font-size {
  vertical-align: top;
}
